.not-found {
  margin-top: 15%;
  text-align: center;
}

.not-found h1 {
  font-size: clamp(70px, 3vw, 130px);
}

.not-found p {
  font-size: clamp(30px, 5vw, 60px);
}

.basic-link {
  font-size: 15px;
  color: #000;
  display: block;
  width: fit-content;
  text-decoration: none;
}
.basic-link:hover {
  text-decoration: underline;
}

a.active {
  color: #0dcaf0;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.flex-screen-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pumpAnimate {
  animation: pumping 300ms ease-out;
}

@keyframes pumping {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

.error {
  color: #ff0000;
  transition: 0.3s;
}
