.not-found {
  margin-top: 15%;
  text-align: center;
}

.not-found h1 {
  font-size: clamp(70px, 10vw, 130px);
}

.not-found p {
  font-size: clamp(30px, 5vw, 60px);
}

.basic-link {
  font-size: 15px;
  color: #000;
  display: block;
  width: fit-content;
  text-decoration: none;
}
.basic-link:hover {
  text-decoration: underline;
}
