.category {
  position: relative;
}

.categoryImg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f2f2;
  background-image: url("../../../assets//clothing-category-1.png");
  background-size: contain;
}
.categoryImg img {
  width: 100%;
}

.category h4 {
  font-weight: 600;
}

.category a {
  text-decoration: none;
  color: #444;
}

.category a:hover {
  text-decoration: underline;
}

.categoryTitle {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
