.cartItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d4d4d6;
}

.cartItemControls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartItemControls select {
  width: fit-content;
}

.product {
  display: flex;
}

.productImg img {
  height: 180px;
  background-color: #f2f2f2;
  display: block;
}

.productInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px;
}

.product h2 {
  font-size: 16px;
  margin-bottom: 12px;
  width: 100%;
}

.product h3 {
  font-size: 14px;
}

.product h2,
.product h3 {
  letter-spacing: 0.5px;
  font-weight: 600;
}
