.headerContainer {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer a {
  text-decoration: none;
  color: #444;
}

.headerLeftBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
